.caja1 {
    
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
   
}

.boton {
    font-size: 25px;
    font-family: Verdana, Helvetica;
    font-weight: bold;
    width: 300px;
    height: 40px;
}

.caja2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    font-size: 30px;
    padding: 10px;
    width: 400px;
    line-height: 1.8;
}

h1 {
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: rgb(28, 231, 221);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
